/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/

html, body {
    margin: 0;
    background-color: #8a9c8c;

}


img {
    width: 50%;
    height: 50%;
   
    
}
